
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: red; 
    /* Put color hex code here^ */
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

body{
    background-color: rgb(255, 250, 244);

}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: red;
}

.navbar-light .navbar-brand {
    padding-left: 25px;
}


.row{
    /* margin-top: 50pt;
    margin-inline-start: 10pt;
    margin-inline-end: 10pt; */
    padding-top: 50pt;
    padding-left: 40px;
    padding-right: 40px;
}

.accordion{
    padding-top: 20pt;
    padding-left: 40px;
    padding-right: 40px;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #899D6F;
}


h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-align: center;
}

h5{
font-family: 'Montserrat', sans-serif;
}

.accordion-body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}



.accordion-button{
    color: white;
    background-color: rgb(103,157,100);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #50ABD1;
}

.button.accordion-button.collapsed:after{
    color: red;
}

.blockquote{
    margin-top: 10pt;
    background-color: #0c62e423;
    padding: 10px;
}

.blockquote-footer{
    background-color: #0c62e423;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.container-fluid{
    margin-top: 40pt;
}

.caption{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 8pt;
}

.col-md-4{
    margin-top: 10pt;

}

.thumbnail img:hover{
    display: none;
}

.img-fluid {
    max-width: 100pts;
    height: auto;
    max-width: 73%;
   vertical-align: middle;
}

a {
    color: black;
    text-decoration: underline;
}

/* Change color button */
.singlebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.clicked {
    background-color: #1A62A3;
}



button {
    color: white;
    background-color: rgb(103,157,100);
    
}

.replaceMeCSS {
    padding-top: 50pt;
    padding-left: 40px;
    padding-right: 40px;
}

.arrayCSS {
    padding-top: 50pt;
    padding-left: 40px;
    padding-right: 40px;
}

/* ===================== MODAL =======================  */
/* Modal */
.jsModalCss{
    /*padding-top: -30pt;*/
    margin-top: -12px;
    padding-left: 40px;
    padding-right: 40px;
}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  body.modal-is-open .modal-overlay {
    opacity: 1;
    z-index: 1;
  }
  
  .modal2 {
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 10px;
    background-color: #50ABD1;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    min-width: 10vmin;
    min-height: 10vmin;
    padding: 2.5rem;
  }
  
  .modal__close-button {
    position: absolute;
    top: -1em;
    right: -1em;
    padding: 0.5rem;
    font-size: 1.5em;
    border-radius: 50%;
    border: 2px solid var(--r-heading-color);
    background: #1A62A3;
    color: var(--r-heading-color);
    opacity: 1;
  }
  
  .modal__close-button button:hover,
  .modal__close-button:active,
  .modal__close-button:focus {
    background: white;
    border-color: var(--r-heading-color);
  }

#jqAdd{
    text-align: center;
}

  /* Additional Section */

  .additionalSection {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* ApexCharts =========================  */
  #chart{
    max-width: 800px;
    margin: 25px auto;
  }

  /* Leaflet =========================  */
  #map { 
      height: 800px; 
      margin: 25px auto;
    }
  