
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: red; 
    /* Put color hex code here^ */
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

body{
    background-color: rgb(255, 250, 244);

}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: red;
}

.navbar-light .navbar-brand {
    padding-left: 25px;
}


.row{
    /* margin-top: 50pt;
    margin-inline-start: 10pt;
    margin-inline-end: 10pt; */
    padding-top: 50pt;
    padding-left: 40px;
    padding-right: 40px;
}

.accordion{
    padding-top: 20pt;
    padding-left: 40px;
    padding-right: 40px;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #899D6F;
}


h1{
    font-family: 'Montserrat', sans-serif;
}

h5{
font-family: 'Montserrat', sans-serif;
}

.accordion-body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}



.accordion-button{
    color: white;
    background-color: rgb(103,157,100);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #50ABD1;
}

.button.accordion-button.collapsed:after{
    color: red;
}

.blockquote{
    margin-top: 10pt;
    background-color: #0c62e423;
    padding: 10px;
}

.blockquote-footer{
    background-color: #0c62e423;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.container-fluid{
    margin-top: 40pt;
}

.caption{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 8pt;
}

.col-md-4{
    margin-top: 10pt;

}

.thumbnail img:hover{
    display: none;
}

.img-fluid {
    max-width: 100pts;
    height: auto;
    max-width: 73%;
   vertical-align: middle;
}

a {
    color: black;
    text-decoration: underline;
}